<!-- <?php session_start(); ?> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151248943-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151248943-1');
    </script><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151248943-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151248943-1');
    </script>
    
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5e7c4ed735bcbb0c9aaa81e0/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300&display=swap"
        rel="stylesheet">
    <!-- Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/fqg1isj.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="public/css/home.css">
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="public/images/clogo.png" type="image/x-icon">
    <!-- Coustom JS -->
    <script src="https://kit.fontawesome.com/169b188851.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Meta Tags -->
    <meta name="description"
        content="Sixinterns is a PAN India outsourcing solution solution, driving bussiness development and research of growing business through 'Crowdsourcing in Outsourcing'">
    <meta name="keywords" content="Internships, PAN, Online Money, Businesses, IT Solution">
    <meta name="author" content="Sixinterns">
    <title>Sixinterns – Never Work For Free</title>
</head>

<body>

    <section id="landing">
        <img src="public/images/projImages/womanusinglaptop.jpg" alt="Woman Using Laptop" class="landing-image">
        <div class="overlay" >
            <header>
                <nav class="acumin">
                    <a class="navbar-brand" href="#"><img src="public/images/clogo.png" alt="Comapny Logo" style="max-width: 200px;"></a>
                    <!-- <ul>
                        <li><a href="home" id="active-tab">Home</a></li>
                        <li><a href="internships">Internships</a></li>
                        <li><a href="campus-ambassador">Campus Ambassador</a></li>
                    </ul> -->

                    <!-- <button class="btn-invert"><a href="pages/login.php">Log In / Sign Up</a></button>-->
                    <button class="btn-invert"><a href="pages/login.html">Log In / Sign Up</a></button> 
                    
                    <!-- <?php 
                    if(!isset($_SESSION['login']))
                        echo '<button class="btn-invert"><a href="pages/login.php">Log In / Sign Up</a></button>'; 
                    else
                        echo '<button class="btn-invert"><a href="student/dashboard.php">Dashboard</a></button>';
                    ?> -->
                </nav>
            </header>
            <div id="banner-text">
                <article>
                    <h1 class="heading acumin">We Compete to<br>Complete the <span
                            style="color:#FFD800;"><strong>Work</strong></span></h1>
                    <p style="font-size: 17px;">Businesses get their work done. Workforce get the chance to earn while they learn and work.
                        SixInterns upskills people and provides right tools, driving them towards work fulfillment.</p>
                    <div style="display: table;margin-left: auto;margin-right:auto;border-spacing:40px 0;">
                        <div style="display: table-cell;width:50%">
                            <a href="pages/internships.php" class="btn-blue">Looking for Work</a>
                        </div>
                        <div style="display: table-cell;width:50%">
                            <a href="pages/client.php" style="color:black;" class="btn-white">Want to get the work done</a>
                        </div>
           
                    </div>
                    
                    <img src="public/images/pathImages/mouse.png" alt="Mouse", style="margin-left: auto">
                </article>
            </div>
        </div>
    </section>
    <section id="section2">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="input-card">
                    <h1><Strong>Subscribe</Strong><br>to our Weekly Newsletter</h1>
                    <form action="" method="post">
                        <input type="text" placeholder="Name"><br>
                        <input type="email" placeholder="E-mail"><br>
                        <input type="submit" class="btn-yellow" value="Sign me Up">
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="valuable-partners">
                    <h1>Our Valuable Partners</h1>
                    <div id = "logos" class="row">
                        <div class="col-md-3 col-sm-6 justify-content-center">
                            <img src="public/images/partnerLogo/ola.png" alt="Ola Cabs" style="width: 100%;">
                        </div>
                        <div class="col-md-3 col-sm-6 justify-content-center">
                            <img src="public/images/partnerLogo/rapido.png" alt="Rapido"style="width: 100%;">
                        </div>
                        <div class="col-md-3 col-sm-6 justify-content-center">
                            <img src="public/images/partnerLogo/vogo.jpg" alt="Vogo"style="width: 100%;">
                        </div>
                        <div class="col-md-3 col-sm-6 justify-content-center">
                            <img src="public/images/partnerLogo/zomato.png" alt="zomato"style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section3">
        <h1>What we do?</h1>
        <div class="row ">
            <div class="col-md-4 col-sm-12 my-row">
                <img src="public/images/pathImages/check.png" alt="We Take Requirements from Clients">
                <h4>We take Requirements from Clients</h4>
                <p>Enterprises give us their requirement. We convert that into simpler tasks - full-time work, part-time
                    work, internships, and make them live on our platform</p>
            </div>
            <div class="col-md-4 col-sm-12 my-row">
                <img src="public/images/pathImages/gig.png" alt="Gets their Work Done by Gig Workers">
                <h4>Gets their Work Done by Gig Workers</h4>
                <p>Gig workers apply on the task, get selected, get trained in the app and then go out to work in their
                    city to complete the tasks in the app.</p>
            </div>
            <div class="col-md-4 col-sm-12 my-row">
                <img src="public/images/pathImages/money.png" alt="Client pays us & we pay Gig Workers">
                <h4>Client pays us & we pay Gig Workers</h4>
                <p>Gig workers get paid on completion of the task and Sixinterns bills the enterprise for the completed task
                    after thorough quality control measures.</p>
            </div>
        </div>
    </section>

    <section id="section4">
        <div class="overlay1">
            <h1>Work With Us</h1>
            <div class="row my-row">
                <div class="col-md-6 my-col">
                    <h4>Find Work</h4>
                    <p>Workforce while being hardworking, struggles with lack of industry skills and relevant jobs in their
                        city. Few are ambitious, some want to earn their bread & butter and others want to learn & grow. We
                        drive them towards these aspirations by solving their problems through full time jobs, part time
                        jobs, internships</p>
                    <a href="" class="btn-blue">Login/Register</a>
                </div>
                <div class="col-md-6 my-col yellow-border">
                    <h4><span class="yellow">Want to get the work Done?</span></h4>
                    <p>Growing a business takes up a huge risk and investment with no guarantee of results and no proper way
                        to monitor the ground reality. Our outcome-driven tech platform settles this by not only setting up
                        everything required, but also ensuring work being fulfilled across varied business functions.</p>
                    <a href="" class="btn-yellow">Request Quote</a>
                </div>
            </div>
        </div>
    </section>
    <section id="section5">
        <h1>What Our Interns Say</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-contain">
                        <div class="carousel-card">
                            <img src="public/images/testimonial/sravanthi.jpg" alt="p1" class="testimonial-image">
                            <div class="testimonial-text">
                                <p>I am a 2nd year student of Amity University Marketing.
                                    I found out about SixInterns very recently and it’s awesome.</p>
                                <h5>Sravanthi</h5>
                                <h6>Amity University</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-contain">
                        <div class="carousel-card">
                            <img src="public/images/testimonial/meghna.jpeg" alt="p1" class="testimonial-image">
                            <div class="testimonial-text">
                                <p>Although it was my first internship with six interns the managers were so friendly
                                    approach as well.</p>
                                <h5>Meghana Pattanaik</h5>
                                <h6>Trident Academy Of Technology </h6>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-contain">
                        <div class="carousel-card">
                            <img src="public/images/testimonial/rimjhim.jpeg" alt="p1" class="testimonial-image">
                            <div class="testimonial-text">
                                <p>Provided me with an opportunity to use my knowledge for practical use and honing my
                                    skills.</p>
                                <h5>Rimjhim</h5>
                                <h6>Lovely Professional University</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-contain">
                        <div class="carousel-card">
                            <img src="public/images/testimonial/sam.jpg" alt="p1" class="testimonial-image">
                            <div class="testimonial-text">
                                <p>Amazing first internship experience at Sixinterns.</p>
                                <h5> Samhitha Jayanthi</h5>
                                <h6>Anurag Group Of Institutions</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <img src="public/images/pathImages/previous.png" alt="Previous Image">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
                <img src="public/images/pathImages/next.png" alt="Next Image">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <!--  <?php include 'pages/partials/footer-index.php'; ?> -->
    <section id="footer">
        <footer>
            <div class="row justify-content-around">
                <div class="col-md-2 col-sm-6">
                    <h5 class="mb-3">Links</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="pages/internships.php">Internships</a></li>
                        <li><a href="pages/about.php">About Us</a></li>
                        <li><a href="pages/contact.php">Contact Us</a></li>
                        <li><a href="career/careers.html">Career</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h5 class="mb-3">Social Links</h5>
                    <ul>
                        <li><i class="fab fa-facebook-f"></i><a
                                href="https://www.facebook.com/sixinterns-100138531452299/">&nbsp;&nbsp;&nbsp;Facebook</a>
                        </li>
                        <li><i class="fab fa-twitter"></i><a
                                href="https://twitter.com/SixInterns?s=09">&nbsp;Twitter</a> </li>
                        <li><i class="fab fa-instagram"></i><a
                                href="https://www.instagram.com/sixinterns_india/">&nbsp;&nbsp;Instagram</a></li>
                        <li><i class="fab fa-linkedin"></i><a
                                href="https://www.linkedin.com/company/sixinterns">&nbsp;&nbsp;LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 form-footer">
                    <h3 class="mb-3">Subscribe to Our Newsletter</h3>
                    <form action="" class="my-3">
                        <input type="text" placeholder="Name" class="p-3"><br>
                        <input type="email" placeholder="E-mail" class="p-3"><br>
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h5 class="mb-3">Partners</h5>
                    <p>For enquiries relating to Six interns, potential partnerships or other business related
                        enquiries <br><strong> Email: sales@sixinterns.in</strong></p>
                </div>
                <div class="col-md-2 col-sm-6">
                    <h6 class="m-2"><strong>SixInterns Pvt. Ltd.</strong></h6>
                    <address>
                        Jalandhar-Delhi G.T. Road<br>
                        Phagwara, Punjab 144411<br>
                        Phone: 9110597711<br>
                        <strong>Email: support@sixinterns.in</strong></address>
                </div>
            </div>
        </footer>
    </section>
</body>

</html>